---
---

$header: #FF0000;

@import "{{ site.theme }}";

#downloads .btn {
  display: none;
  text-align: center;
  margin: 0;
}

header {
    border-bottom: 1px dashed $header;
}

header h1 {
    color: $header;
}
