---
---

$header: #63c0f5;

@import "{{ site.theme }}";

#downloads .btn {
  display: none;
  text-align: center;
  margin: 0;
}

header {
    border-bottom: 1px dashed #888;
}

header h1 {
    color: $header;
}
